---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2em;
$medium-spacing-unit:   4em;

$text-color:       #333333;
$background-color: #ededed;
$brand-color:      #314454;

$gray-color:       #777777;
$gray-light-color: #bcc2c7;

// Width of the content area
$content-width:    1024px;
$medium-breakpoint: 850px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        'boxes',
        'contact',
        'e404',
        'general',
        'footer',
        'form',
        'header',
        'image',
        'img',
        'menu'
;
