* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    padding-right: 2%;
    background: #314454;
    font: 16px monospace;
    color: #333;
}

a {
    color: #314454;
}

hr {
    height: 1px;
    margin: 2em 0;
    background: #bcc2c7;
    border: none;
}

.header,
main,
.footer {
    max-width: 1024px;
    background: #ededed;
}

.header {
    padding: 5em 5em 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo {
    height: 48.3px;
    width: 320px;
}

.footer {
    padding: 5em 5em 1em;
    display: flex;
    justify-content: space-between;
    color: #777;
}

nav a {
    margin-left: 1em;
}

section {
    padding: 5em;
}

h2 {
    padding: 0 0 1em;
}

p {
    margin-bottom: 1em;
    line-height: 1.5em;
}

p:last-child {
    margin-bottom: 0;
}

.img {
    width: 100%;
    position: absolute;
}

.img__wrapper {
    position: relative;
    background: #bcc2c7;
}
