<!DOCTYPE html>
<html lang="fi">
    {% include head.html %}
    <body>
        {% include header.html %}

        <main>
            {{ content }}
        </main>

        {% include footer.html %}
        <script src="/js/main.js"></script>
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "Jariweb",
            "url": "http://jariweb.fi",
            "logo": "http://jariweb.fi/img/logo.svg",
            "contactPoint": [{
                "@type": "ContactPoint",
                "telephone": "+358-45-697-8485",
                "contactType": "customer service"
            }],
            "sameAs": [
                "https://www.facebook.com/jariweb/"
            ]
        }
        </script>
    </body>
</html>
